version: 1
validation: sovereign
default_denom: stake
chain-id: overgive-chain-local
accounts: 
- name: alice
  coins:
  - 20000token
  - 200000000stake
- name: bob
  coins:
  - 10000token
  - 100000000stake
- name: overgive-admin
  coins:
  - 10000token
  - 100000000stake
client:
  openapi:
    path: docs/static/openapi.json
faucet:
  name: bob
  coins:
  - 5token
  - 100000stake
validators:
- name: alice
  bonded: 100000000stake
- name: overgive-admin
  bonded: 200000000stake
- name: validator2
  bonded: 100000000stake
  # overgive12vwwxw9zjhkt4gdsmmfskn7vmv9g6hgtnlxjcn